@model HatunsolBE.OrdenCompraBE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrdenCompraBE</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IdOrdenCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdOrdenCompra)
                @Html.ValidationMessageFor(model => model.IdOrdenCompra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEstablecimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdEstablecimiento)
                @Html.ValidationMessageFor(model => model.IdEstablecimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdProveedor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdProveedor)
                @Html.ValidationMessageFor(model => model.IdProveedor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroOrden, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroOrden)
                @Html.ValidationMessageFor(model => model.NroOrden)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormaPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormaPago)
                @Html.ValidationMessageFor(model => model.FormaPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_Ped, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_Ped)
                @Html.ValidationMessageFor(model => model.Fecha_Ped)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_Req, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_Req)
                @Html.ValidationMessageFor(model => model.Fecha_Req)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubTotal)
                @Html.ValidationMessageFor(model => model.SubTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IGV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IGV)
                @Html.ValidationMessageFor(model => model.IGV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
